:root {
  --faint-gray: #f8f8f8;
  --token-color: #005cc5;
  --meta-opacity: 0.3;
  --font-size: 16px;
}

::selection {
  background-color: #abd2fe;
}

.app {
  font-family: SF Mono;
  font-size: var(--font-size);
}

.app button {
  font-family: SF Mono;
}

.textarea {
  font-family: SF Mono;
  width: 80vw;
  height: 80vh;
}

.cssRule {
  margin-bottom: 16px;
}

.cssRuleSelected {
  background-color: #abd2fe40;
}

.cssRule:last-child {
  margin-bottom: 0;
}

.cssRule br {
  content: "";
}

.cssSelector::after {
  content: " {";
  opacity: var(--meta-opacity);
}

.cssAtRulePrelude::before {
  content: "@";
  opacity: var(--meta-opacity);
}

.cssSelectorSpan {
  background-color: var(--faint-gray);
  display: inline-block;
  min-width: 20px;
}

.cssBlock::after {
  content: "}";
  opacity: var(--meta-opacity);
}

.blockDeclarations {
  padding-left: 16px;
}

.cssProperty {
  position: relative;
}

.cssProperty div[data-slate-spacer="true"] {
  display: none;
}

.cssPropertySpan {
  background-color: var(--faint-gray);
  display: inline-block;
  min-width: 30px;
}

.inputFocused {
  background-color: #abd2fe20 !important;
  border: 1px solid #abd2fe80;
  margin: -2px -3px;
  padding: 1px 2px;
  position: relative;
  z-index: 1;
}

.colon {
  opacity: var(--meta-opacity);
}

.token {
  color: var(--token-color);
}

.cssDeclaration::after {
  content: ";";
  opacity: var(--meta-opacity);
}

.cssValue {
  position: relative;
  background-color: var(--faint-gray);
  display: inline-block;
  min-width: 30px;
}

.suggestions {
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 1;
}

.suggestionListItem {
  cursor: pointer;
  white-space: nowrap;
}

.suggestionListItemSelected {
  background-color: #f0f0f0;
}
