.panel {
  background-color: var(--faint-gray);
  border: 1px solid var(--light-gray);
  box-sizing: border-box;
  position: fixed;
  right: 16px;
  top: 48px;
  width: 320px;
  max-width: 100vw;
  padding: 16px;
  max-height: calc(100vh - 64px);
  overflow: auto;
  box-sizing: border-box;
  z-index: 1;
}

@media (max-width: 720px) {
  .panel {
    right: 0;
    transform: translate3d(280px, 0, 0);
    transition: transform 0.3s;
  }

  .panelMobileShow {
    transform: translate3d(0, 0, 0);
  }

  .panelMobileOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffffb0;
    z-index: 1;
  }
}

.actionSectionTable {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 16px;
  width: 100%;
}

.actionSectionTable:last-child {
  margin-bottom: 0;
}

.actionSectionTable th {
  font-weight: 400;
  padding: 0 0 8px;
  font-size: var(--font-size-small);
}

.actionSectionTable td {
  border-top: 1px solid var(--light-gray);
  padding: 4px 8px;
  font-size: 12px;
}

.actionSectionTable td:first-child {
  border-right: 1px solid var(--light-gray);
}

.actionSectionTable td:last-child {
  width: 80px;
}

.actionSectionTable button {
  background-color: transparent;
  border: 0;
  font-size: 12px;
  padding: 0;
}

.actionSectionTable button:hover {
  text-decoration: underline;
}

.actionSectionTitle {
  text-align: left;
}

.actionSectionTitleLabel {
  color: var(--gray);
  display: inline-block;
  margin-left: 8px;
}
