.panel {
  background-color: var(--faint-gray);
  position: fixed;
  right: 16px;
  top: 48px;
  width: 384px;
  padding: 16px;
  max-height: calc(100vh - 64px);
  overflow: auto;
  box-sizing: border-box;
}

.actionSectionTable {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 16px;
  width: 100%;
}

.actionSectionTable:last-child {
  margin-bottom: 0;
}

.actionSectionTable th {
  font-weight: 400;
  padding: 0 0 8px;
  font-size: var(--font-size-small);
}

.actionSectionTable td {
  border-top: 1px solid var(--light-gray);
  padding: 4px 8px;
  font-size: 12px;
}

.actionSectionTable td:first-child {
  border-right: 1px solid var(--light-gray);
}

.actionSectionTable td:last-child {
  width: 96px;
}

.actionSectionTable button {
  background-color: transparent;
  border: 0;
  font-size: 12px;
  padding: 0;
}

.actionSectionTable button:hover {
  text-decoration: underline;
}

.actionSectionTitle {
  text-align: left;
}

.actionSectionTitleLabel {
  color: var(--gray);
  display: inline-block;
  margin-left: 8px;
}
